<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cens.ucla.edu.budburst"
      android:versionCode="39" android:versionName="1.8.10">
      
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
      
    <application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/pbb_icon_main2">
 
 	<activity android:name="firstActivity" android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait">
 		<intent-filter>
    		<action android:name="android.intent.action.MAIN"/>
    		<category android:name="android.intent.category.LAUNCHER"/>
    	</intent-filter>
 	</activity>
 
 
<activity android:name=".Login" android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="adjustResize" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:label="Helloscr" android:name=".Helloscr" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="PlantList" android:label="PlantList" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="AddPlant" android:label="AddPlant" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="Sync" android:label="Sync" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="AddSite" android:theme="@android:style/Theme.Light" android:label="AddSite" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.OneTimeMain" android:label="OneTimeMain" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.GetSpeciesInfo" android:label="OneTimeMain" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.GetPhenophase" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden" ></activity>
<activity android:name=".onetime.Whatsinvasive" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.Whatspopular" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.Whatsblooming" android:theme="@android:style/Theme.Light" android:process=":Whatsblooming"></activity>
<activity android:name=".onetime.AreaList" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.WIinfo" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.WPinfo" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<uses-library android:name="com.google.android.maps"></uses-library>
<activity android:name="GetPhenophase_PBB" android:label="OneTimeMain" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="PlantSummary" android:label="OneTimeMain" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>

<activity android:name="PlantInformation_Direct" android:label="OneTimeMain" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.Flora_Observer" android:label="OneTimeMain" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="MainPage" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"></activity>
<activity android:name=".mapview.PBB_map" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>

<activity android:name="SpeciesDetail" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="Help" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="Splash" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.QuickCapture" android:configChanges="orientation|keyboardHidden"></activity>

<activity android:name="GetPhenophase_OneTime" android:label="OneTimeMain" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<service android:name=".helper.BackgroundService" 
		 android:enabled="true">
	<intent-filter>
		<action android:name="cens.ucla.edu.helper.BackgroundService.SERVICE"/>
	</intent-filter>
</service>
<activity android:name=".mapview.SpeciesDetail_inMapView" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="PhenophaseDetail" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".helper.First_Help" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
<activity android:name=".lists.UserDefinedTreeLists" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<service android:name=".helper.GetDataAsBackground"></service>
<activity android:name=".lists.ListMain" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".lists.ListsDetail" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".helper.MyAlertDialog" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.MyLocation" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".lists.ListSubCategory" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".lists.LazyAdapter"></activity>
<activity android:name=".onetime.AddNotes" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="adjustResize"></activity>
<activity android:name="PlantObservationSummary" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 