<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cens.ucla.edu.budburst"
      android:versionCode="1"
      android:versionName="1.0">
      
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      
    <application android:label="@string/app_name"
    android:debuggable="true" android:icon="@drawable/pbbicon">
 
 <activity android:name="firstActivity" android:label="@string/app_name">
 <intent-filter>
    			<action android:name="android.intent.action.MAIN"/>
    			<category android:name="android.intent.category.LAUNCHER"/>
    		</intent-filter>
 </activity>
 
 
    	<activity android:name=".Login"
    		android:label="@string/app_name"
    		android:theme="@android:style/Theme.Light.NoTitleBar"
    		android:windowSoftInputMode="adjustResize"
    		android:configChanges="orientation|keyboardHidden">
    		
    	</activity>
<activity android:label="Helloscr" android:name=".Helloscr" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="PlantList" android:label="PlantList" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="AddPlant" android:label="AddPlant" android:theme="@android:style/Theme.Light" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="PlantInfo" android:theme="@android:style/Theme.Light" android:label="PlantInfo" android:configChanges="keyboardHidden|orientation"></activity>
<activity android:name="Sync" android:label="Sync" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name="AddSite" android:theme="@android:style/Theme.Light" android:label="AddSite" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.OneTimeMain" android:label="OneTimeMain" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>

<activity android:name=".onetime.Observation" android:label="OneTimeMain" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.Recommendation" android:label="OneTimeMain" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
<activity android:name=".onetime.GetSpeciesInfo" android:label="OneTimeMain" android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>

<activity android:name=".onetime.GetPhenophase" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
<activity android:name=".onetime.Queue" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
<activity android:name=".onetime.MyPhotoDetail" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 